<h1>Туры</h1>
{% for tour in tours %}
<h2>Название тура: {{ tour.title }}</h2>
<p>Описание: {{ tour.description }}</p>

    <h3>Категории</h3>
    <p>
        {% for cat in tour.category.all %}
        {{ cat.name }} {% if not forloop.last %}, {% endif %}
        {% empty %}
        Категория не указана
        {% endfor %}
    </p>
    <h4>Отзывы</h4>

    <ul>
        {% for rev in tour.tourcomment_set.all %}
        <li>
            <p>Текст - {{ rev.text }}</p>
            <p>Дата отзыва - {{ rev.created_at }}</p>
        </li>

        {% endfor %}
    </ul>


{% endfor %}